@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap/dist/css/bootstrap-grid.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* Common */
.in-row {
  float: left;
  display: grid;
}
/* Square */
.square {
  font-size: 18px;
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 30px;
  line-height: 30px;
  height: 30px;
  display: block;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  background-color: #e8e8e8;
  margin: 4px;
  border: 1px solid #a1a1a1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.square:focus {
  outline: none;
}

/* Grid */
.grid {
  display: block;
  overflow: auto;
  border: 1px #a1a1a1 solid;
  margin: 2px;
  padding: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: max-content;
}
.board-row {
  display: block;
  overflow: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}
.grid-wrapper {
  /* position: absolute; */
  top: 1%;
  left: 1%;
  /* transform: translate(30%, 30%); */
  display: flex;
  flex-direction: row;
  margin: 0 auto;  
}

/* Game */
.score-board {
  position: absolute;
  top: 1%;
  right: 1%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;  
}

/* Sidebar */
#wrapper {
  overflow-x: hidden;
  flex-direction: row;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
  max-height: 70vh;
  overflow-y: scroll;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.score-rows {
  flex-direction: column;
  display: flex;
  overflow-x: hidden;
}
.score-row {
  width: auto;
}

.modal{
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100vw;
  height: 100vh;
  background:rgba(255, 255, 255, 0.95);
  z-index: 9;
  font-family: 'Roboto', sans-serif;
}

.modal-title{
  font-size: 2rem;
  color: #000;
  margin-bottom: 1rem;
  font-family: inherit;
}

.modal-subtitle{
  font-size: 1rem;
  font-family:'ModalFont';
  margin-bottom: 3rem;
  color: #757575;
}

.btns {
  padding: 0.6rem 1rem;
  font-family: 'ModalSubtFont';
  border-radius: 4px;
  font-size: 1rem;
  margin:0.3rem
}
.action-btn{
  color:#FFF;
  background-color:#54cc5a;
  border: 1px solid #54cc5a;
}
.dismiss-btn{
  color:#292929;
  background-color:transparent;
  border: 1px solid #292929;
}